<h2>Buttons in active state</h2>

<button tt-primary-btn>primary button</button><br>
<button tt-primary-btn>button</button><br>
<button tt-primary-btn>button</button><br>
<button tt-primaryTwo>Button Text</button><br>
<button tt-secondaryOne>Button</button><br>
<button tt-secondaryTwo>Button</button><br>
<button tt-withIcon>Button</button><br>
<button class="tt-btn tt-primary" disabled> +</button>
<h2>Buttons disabled state</h2>
<button tt-primaryOne disabled=true>click mk</button><br>
<button tt-primaryTwo [disabled]=true>Button Text</button><br>
<button tt-secondaryOne [disabled]=true>Button</button><br>
<button tt-secondaryTwo [disabled]=true>Button</button><br>
<button tt-withIcon [disabled]=true>Button</button><br>

<router-outlet></router-outlet>
