<div class="container mx-auto">
  <button tt-primary-btn [disabled]="true">Primary Button</button><br />
  <button tt-secondary-btn [disabled]="true">Secondary Button</button><br />

  <button tt-primary-btn size="sm">Primary Button</button><br />
  <button tt-primary-btn size="md">Primary Button</button><br />
  <button tt-primary-btn size="lg">Primary Button</button><br />

  <button tt-secondary-btn size="sm">Secondary Button</button><br />
  <button tt-secondary-btn size="md">Secondary Button</button><br />
  <button tt-secondary-btn size="lg">Secondary Button</button><br />
</div>

<router-outlet></router-outlet>
