<div class="container">
  <div class="flex flex-col h-screen w-screen">
    <nav class="shadow-md">
      <div class="px-2 sm:px-6 lg:px-8">
        <div class="flex items-center h-16">
          <div class="flex flex-1">
            <a>
              <img
                class="h-10 w-auto"
                src="https://static.trustrace.net/static/images/trustrace_logo_black.svg"
                alt="logo"
              />
            </a>
          </div>
          <div>
            <select class="px-2 py-4 rounded-[16px]">
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
    </nav>

    <div class="flex flex-grow text-gray-1000">
      <div class="flex w-2/6 items-center aside pl-12 lg:pl-20">
        <div class="flex flex-col">
          <p class="text-6xl font-bold w-9/12 pb-2">
            Become a transparent supplier.
          </p>
          <p class="pt-6 pb-6 w-10/12">
            To serve the growing demand for sustainable fashion products, your
            customer wants you to join <strong> trustrace.com</strong> and be a
            transparent supplier.
          </p>

          <a
            class="py-3 text-base rounded-md font-medium transition-colors focus:ring-2 focus:ring-deepSaffron-100 bg-white-default hover:bg-white-750 text-gray-1000 disabled:bg-gray-500 disabled:text-gray-700 active:bg-deepSaffron-700 w-32 text-center"
            href=""
          >
            Know More
          </a>
        </div>
      </div>
      <div class="flex w-4/6 justify-center items-center">
        <div class="">
          <h3 class="font-bold text-2xl pb-2">Login</h3>
          <p class="pb-2">We are glad you are here. Login to your account</p>

          <form>
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="email"
            >
              Registered Email ID
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              id="email"
              placeholder="Enter your email id"
            />
            <label
              class="block text-gray-700 text-sm font-bold mb-2 pt-4"
              for="password"
            >
              Password
            </label>
            <input
              type="password"
              id="password"
              placeholder="Password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
            <button
              class="py-2 w-full mt-4 text-base rounded-md font-medium transition-colors focus:ring-2 focus:ring-deepSaffron-100 capitalize bg-gray-1000 hover:bg-gray-900 text-white-default disabled:bg-gray-500 disabled:text-gray-700 active:bg-gray-700"
              type="submit"
            >
              Login
            </button>
          </form>

          <a href="">Forget password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
